.ToDoListPaper {
  padding: 20px 20px 30px; }

.tasksListItem {
  list-style: none; }

.SearchFieldContainer,
.TaskCreatorContainer {
  width: 100%;
  text-align: center; }

.emptyListMessage {
  font-size: 20px;
  color: #7f7f7f;
  line-height: 1.6; }
